{% extends "base.html" %}
{% block content %}
    <div class = "content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-Bottom mb-4">Register new user</legend>
            {{ form.as_p }}
        </fieldset>
        <div class=""form-group>
            <button class="btn btn-outline-info" type="submit">Register User</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">head back to login<a class="ml-2" href="login.html">Login</a></small>
    </div>
    </div>
{% endblock %}