<!-- template/post_list.html -->
{% extends 'base.html' %}
{% load i18n %}


{% block title %}Tickets{% endblock %}

{% block content %}
    <h1>Tickets</h1>
  {% for post in object_list %}
      <div class="card">
       <a href="{% url 'editTicket' post.pk%}">
     <span class="font-weight-bold">{{ "Title: " }}{{ post.ticketName }}</span>
      <div class="card-body">
      <p>{{ "Issue: " }}{{ post.ticketDescription }}</p>
      <p>{{ "time made: " }}{{ post.ticketTime }}</p>
      <p>{{ "priority: " }}{{ post.priority }}</p>
      <p>{{ "status: " }}{{ post.condition }}</p>
      <p>{{ "Posted by: " }}{{ post.staffmember }}</p>
      <a href="{% url 'editTicket' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
      </div>
       </a>
    </div>

    <br />
  {% endfor %}
{% endblock content %}