{% extends 'base.html' %}

{% block title %}Edit Ticket{% endblock %}
<!--Displays the view depending on who is logged in-->
{% block content %}
  <h1>Package Details</h1>
      {% if request.user == object.staffmember or user.is_Staff %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
     <input class="btn btn-success" type="submit" value="Edit ticket">
      {% else %}
          <span class="font-weight-bold">{{ "Title: " }}{{ object.ticketName }}</span>
       <div class="card-body">
      <p>{{ "Issue: " }}{{ object.ticketDescription}}</p>
      <p>{{ "time made: " }}{{ object.ticketTime }}</p>
      <p>{{ "priority: " }}{{ object.priority }}</p>
      <p>{{ "status: " }}{{ object.condition }}</p>
      <p>{{ "Posted by: " }}{{ object.staffmember }}</p>
     <a class="btn btn-default" href="{% url 'dashboard' %}">back to dashboard</a>
<script>
function goBack() {
  window.history.back();
}
</script>

          {% endif %}
</div>
</form>

        <hr>
     <form method="post">
    <a class="btn btn-default" href="{% url 'add-comment' ticket.id %}">Add comment</a>
{% for post in object.comment.all %}
    <div class="card-body">
        <p>{{ "Test" }}{{ post.timestamp }}</p>
        <strong>{{ post.user }}</strong>
        <p>{{ post.description | linebreaks}}</p>
    </div>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
</form>
    {% endblock %}
